<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126951074665-ngkv6mtqv9t83r3488sjdqrhfh67of5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126951074665-ngkv6mtqv9t83r3488sjdqrhfh67of5s</string>
	<key>API_KEY</key>
	<string>AIzaSyDLQ3E1LDtEolGJtWaIDG6g3i9K4yt8IEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>126951074665</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>c</string>
	<key>PROJECT_ID</key>
	<string>testtaskptapps</string>
	<key>STORAGE_BUCKET</key>
	<string>testtaskptapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126951074665:ios:d82a1f7ab638144f47ebf8</string>
</dict>
</plist>